<div class="row">
  <div class="col-md-12">
    <table class="table" id="servers">
      <thead>
        <tr>
          <th>Name</th>
          <th>Rule Set</th>
          <th>Interfaces &amp; IPs</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="server in allServers">
          <td>{{server.name}}</td>
          <td><a href ui-sref="rulesets.detail({name: server.ruleset})">{{server.ruleset}}</td>
          <td>
            <span ng-repeat="(interface, ip) in server.interfaces">
              <span class="label label-success">{{interface}}</span> {{ip}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
