<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-default btn-xs">new</a>
          </div>
        <h3 class="panel-title">Rulesets</h3>
      </div>
      <ul id="selector" class="list-group">
        <li ng-repeat="ruleset in allRulesets" ui-sref-active="active" class="list-group-item">
          <a href ui-sref="rulesets.detail({name: ruleset.name})"> {{ruleset.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9" ui-view="detail">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Select ruleset</h3>
      </div>
      <div class="panel-body">
        No ruleset selected
      </div>
    </div>
  </div>
</div>
