<div class="row">
  <div class="col-md-12">
    <table class="table" id="servers">
      <thead>
        <tr>
          <th>Name</th>
          <th>Rule Set</th>
          <th>Interfaces & IPs</th>
        </tr>
      </thead>
      <tbody ng-controller="ServersController as serversCtrl">
        <tr ng-repeat="server in allServers">
          <td>{{server.name}}</td>
          <td>{{server.ruleset}}</td>
          <td>
            <span ng-repeat="(interface, ip) in server.interfaces">
              <span class="label label-success">{{interface}}</span> {{ip}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
